@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/**********
TYPOGRAPHY
**********/

:root {
    font-family: 'Roboto', sans-serif; 
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container {     
    padding: 0;    
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    position: relative;
    overflow: hidden;
}

a {
text-decoration: none;
color: #FFF;
}

a:visited {
    color: #FFF;
}

a:hover {
    color: orange;
}

button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    border-radius: 25px;
    padding: 1rem 6rem;   
    font-weight: 500;
    font-size: 1rem;    
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;  
    cursor: pointer;  
}

button:hover {
    opacity: 0.8;    
    color: orangered;
    font-weight: 600;    
}

/********** 
HEADER
**********/

/* navigation */

.nav {
    display: flex;    
    flex-grow: 1;
    align-items: center;
    padding: .9rem 14rem;
    gap: 1rem;
    background: black;   
    margin: 0;
}

.nav__logo {
    display: flex;
    align-items: center;
    width: 5rem;
    height: 3rem;
    border: .5px solid #fff;    
    background: url("../../assets/images/bamboo.svg") no-repeat;    
    background-position: 10% 65%; 
    
}

.nav__logo h1 {
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav__menu {
    display: flex;       
    flex-wrap: wrap;
    flex-grow: 1;       
    justify-content: space-around;
    gap: 3.7rem;    
}

.nav__menu ul {
    align-items: center;
}

.nav__menu li {
    list-style: none;    
}

.nav__menu li a {
    text-decoration: none;
    color: white;
}

.nav__menu .credit {
    margin-left: auto;
}

.nav__menu .about a {
    color: orange;
}



/* hero */


.hero__container {
   
       
    padding-bottom: 6.5rem;
    margin: 0;
}

.hero__container__bgimage {
    position: absolute;
    width: 100%;
    top: -30%;
    
}

.hero__container__bgimage img {
    width: 100%;
}



.hero__text {
    position: relative;    
    left: 51%;
    max-width: min-content;        
    background: url("../../assets/images/ellipse.png") no-repeat;
    padding: 5rem;    
}

.hero__text p {
    margin: 0;   
    font-weight: 700;
    font-size: 6.5rem;    
    line-height: 75%;         
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px grey;
    text-align: center;
    
}

.hero__text p span {
   color: #FFEE2E;
}

.hero__btn {
    position: relative;
    left: 61%;
}




/*******
MAIN
*******/


/**************** 
section backstage 
****************/

.backstage__container {    
    display: flex;
    margin: 0 auto;
    padding: 9rem 14rem;
    gap: 8%;   
    position: relative;
    
}

.backstage__bgimage {
    position: absolute;
    top: 1.1%;
    left: 87%;    
}

.backstage__bgimage img {
    max-width: 140%;   
}

.backstage__image {    
    width: 52%;
    object-fit: cover;    
}

.backstage__image img {
    width: 100%;   
}

.backstage__text {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.backstage__text h3 {
    margin-top: 2.3rem;
}

/***********
section pets 
***********/

.pets__container {    
    display: grid;  
    align-items: center;
    grid-template-columns: .5fr 2fr 2fr .5fr;
    padding: 1rem 4rem;
    gap: 1rem;
    position: relative;
}

.pets__container__bgimage1 .palm_foto1 {
    display: block;
}

.pets__container__bgimage1 .palm_foto2 {
    display: none;
}

.pets__container__bgimage1 {
    position: absolute;
    bottom: 0%;
    left: 0%; 
}

.pets__container__bgimage2 {
    position: absolute;
    bottom: 0%;
    left: 77%;
}

.pets__row1 {
    display: flex;
    gap: 2rem;
    grid-column: 2/4;
    grid-row: 1/2;
}

.pets__row2 {
    display: flex;
    gap: 2rem;
    grid-column: 2/4;
    grid-row: 2/3;
}

.arrows {
    display: flex;
}

.left {
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
    justify-self: end;
}

.right {
    grid-column: 4/5;
    grid-row: 1/3;    
}

.arrows img {
    background: orange;
    padding: 1.5em;
    border-radius: 50%;   
}

.arrows:hover {
    cursor: pointer;
    opacity: 0.9;
}

.pets__btn {
    grid-column: 1/5;
    grid-row: 3/4;    
    justify-self: center;
    padding: 4.9rem;
}

.pets__btn button {
    padding: 1rem 3rem;  
}

.pets__cards {
    width: 22.875rem;    
    border: 1px solid #FE9013;
    border-radius: 5px;
    margin: 0;    
    padding: 0;
}

.pets__cards img {
    width: 100%;
}

.pets__image {       
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.pets__image img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.pets__row1 .tigers {
    display: none;
}

.pets__row2 .gorillas {
    display: none;
}

.pets__row2 .alligators {
    display: none;
}

.pets__image:hover img {
    transform: scale(1.1);
}

figcaption {
    margin-top: 0;
    padding: .5em 1em;
}

.pets__title, .pets__subtitle {
    margin: 0;
    padding: 0;
}

.pets__title {
    font-weight: 500;
    font-size: 16px;    
    text-transform: uppercase;
    color: #000000;
}

.pets__subtitle {
    font-weight: 300;
    font-size: 15px;    
    color: #000000;
}

/**************
section friends
**************/

.friends .container {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;       
}

.friends__container {
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 5rem 14rem 6rem;
    padding: 2rem 4rem 2rem 6rem;    
}

.friends__container h2, h3 {
    text-align: center;
}

.friends__container h3 {
    font-weight: 400;
    font-size: 2rem;
    line-height: 120%;
    color: #333B41;     
}

/*

.friends__container h2 {
    color: #FE9013;
    text-align: center;
    margin: 2rem 0;       
}

.friends__container h4 {        
    color: #333B41; 
    margin: 0 6rem;
  
}

.friends__container p {   
    color: #333B41;           
}

.friends__container a {
    color: orange; 
}

.friends__container .p1 {
    font-weight: 500;
    margin: 2.5rem 0 0 6rem;   
}

.friends__container .p2 {
    font-weight: 400;   
    margin: 0.5rem 10rem 0 6rem;    
}

.friends__container h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    line-height: 130%;
    color: #333B41;
    margin: 4rem 0 3rem;
}

*/

.cards {
    display: flex;
    margin: 0 6rem;   
}

.card {
    margin: 0;
    padding: 0;
    width: 10.5rem; 
    height: 15.25rem;
}

.card__img {
    width: 10.5rem; 
    height: 10.5rem;
    background-color: white;
    border: 1px solid #F9804B;
    border-radius: 5px;       
    margin: 0 auto;     
    padding: 0 auto; 
    display: flex;  
    justify-content: center; 
    align-items: center;
}

.cards figcaption {
    margin: 1.5em 0;
    padding: 0;
}

.arrow {
    margin: 3.5rem auto;        
}

.friends__btn {
    position: relative;      
    margin: 3em auto;
}

.friends__btn button {
    padding: 1rem 4rem;
}


/******************* 
section testimonials
*******************/

.testimonials__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6em 14em 11em;
    margin: 0;   
}

.testimonials__bgimage {
    position: absolute;
    bottom: -15%;
    left: 85%;
}

.testimonials__bgimage {
    width: 100%;
}

.testimonials__title {
    margin: 1rem;
}

.testimonials__title h3 {    
    font-size: 2.25rem;  
    text-align: center;    
}

.testimonials__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2em;    
}

.testimonials__card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 24rem; 
    padding: 0 .5rem;    
    background: #F1F3F2;   
    border-radius: 20px;  
    border-style: solid;  
    border-top-color: rgba(254, 189, 171, 0.74);
    border-right-color: rgba(243, 169, 248, 0.66); 
    border-bottom-color: rgba(224, 216, 240, 1);
    border-left-color: rgba(234, 247, 254, 1);    
}

.card_title {     
     display: flex;    
     padding: 0;
     margin: 1rem .5rem 0rem;
     gap: .5rem;
     align-items: center;          
}

.card_title > * {
    padding: 0;
    margin: 0;
}

.card__title__img {
    align-self: center;
}

.card__title__content {
    display: flex;
    flex-wrap: wrap;
}

.card__title__content > * {
    padding: 0;
    margin: 0;
}

.card__title__content .name {
    font-size: 1rem;
    margin-right: 1.5rem;
}

.card__title__content .location {
    font-size: .9rem;
    font-weight: 300;
}

.card__title__content .time {
    font-size: .9rem;
    font-weight: 300;
}

.testimonials__slider {
    width: 52%;
    margin: 1rem auto;
}

input[type=range] {
    width: 100%;
    height: .5rem;    
    -webkit-appearance: none;    
}
  
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: .6rem;
    cursor: pointer;
    background: #FFF;
    border-radius: 11px;
    border: 1px solid #E65A1E;
}

input[type=range]::-webkit-slider-thumb {
    height: 100%;
    width: 7rem;
    border-radius: 5px;
    background: #FE9013;
    cursor: pointer;
    -webkit-appearance: none;    
}

.testimonials-btn {   
    align-self: flex-start;
    margin-top: 1rem;
}

.testimonials-btn button {
    border-radius: 5px;
    padding: 1rem 5rem; 
}


/*******
FOOTER 
********/

.footer__container {
    display: flex;
    flex-direction: column;
    padding: 2rem 14rem;
    margin: 0;
    background: black;
    gap: 2em;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin: 0 14rem;*/
    padding-bottom: 1rem;
}

.footer__logo {
    display: flex;
    
    width: 5.125rem;
    height: 3.25rem;
    border: .5px solid #fff;    
    background: url(../../assets/images/bamboo.svg) no-repeat;    
    background-position: 17% 65%; 
}

.footer__logo h2 {
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #FFF;
}



.form__h2 {
    color: #FFF;
    font-weight: 400;
    font-size: 1.5rem;    
}



.footer__bottom {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: flex-end;
    /*margin: 1rem 14rem;*/
}



.icons {
    color: #FFF;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: .7em;
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
}

.icons > a {
    display: flex;    
    gap: .5em;    
}

.icons > a:hover {
    color: orange;
}

.icons i {
    font-size: 1.5rem;
}

.nav__bottom {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.nav__menu__bottom {
    display: flex;
    justify-content: space-evenly;
    gap: 3em;
    margin: 0;
}

.nav__menu__bottom li {
    list-style: none;
}

.footer__credits {
    color: white;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
}

.footer__credits * {
    padding: 0;
    margin: 0;
}

.footer_btn {
    /*margin-left: 14rem;*/
}

.footer_btn button {
    border-radius: 5px;
    padding: 1rem 3rem;    
}

.nav__logo h2 {
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #FFF;

}

form .email {
    padding: .5rem 2rem;
    background: #000000;
    color: white;
    border: 1px solid orange;
}

form .submit {
    padding: .5rem 2rem;
    border-radius: 5px;
    color: green;
    border: none;
}

form .submit:hover {
    cursor: pointer;
    opacity: .8;
}

/* media queries */ 

/*
@media (max-width: 320px) {
    .container {
        min-width: 320px;
    }
}

@media (max-width: 640px) {
    .container {
        min-width: 640px;
    }
}

@media (max-width: 1000px) {
    .container {min-width: 1000px};
}


@media (max-width: 1600px) {
    .container {max-width: 1600px;}
}
*/

/*

@media only screen and (max-width: 1600px) and (min-width: 1000px) {
    .container {
        max-width: 1600px;
        margin: 0 auto;
    }

    nav {
        padding: .9rem 2rem;
    }

    .hero {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        align-items: flex-end; 
        
        background: url("../../assets/images/giant_panda.jpg") no-repeat;
        background-size: cover;     
        background-position: 0% 50%;    
        padding-top: 0;
        padding-bottom: 4.2rem;
        margin: 0;
    }
    
    .hero__text {
        display: flex;  
        flex-direction: column;       
        align-items: center;
        background: url(../../assets/images/ellipse.png);
        background-repeat: no-repeat;  
        background-size: 70%;                
        background-position: 5% 15%;
        
        margin-right: 10rem;
        
    }
    
    .hero__text p {
        margin: 0;   
        font-weight: 700;
        font-size: 5rem;    
        line-height: 75%;         
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 1px 1px grey;
        position: relative;
        
       
       
    }
    
    .hero__text p span {
       color: #FFEE2E;
    }
    
    
    .hero__btn {
        display: flex;
        margin-right: 15rem;
       
    }
    
    
}
*/

/*
@media screen and (min-width: 1000px) and (max-width: 1599px) {
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }

    .nav__logo {
        margin-left: 3rem;
    }

    .nav__menu {
        margin-right: 3rem;
    }

    .backstage {
        padding: 9rem 2rem;
        background: none;
    }

    .pets__image {
        width: 18rem;
        height: 22rem;
    }

    .arrows {        
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .pets__row2 {
        grid-row: 3/4;
    }

    .pets__btn {
        grid-row: 4/5;
    }

    .friend {
        margin: 5rem 2rem 6rem;
    }

    .cards {
        margin: 0 2.5rem;
    }

    .testimonials {
        padding: 6rem 2rem 11rem;
    }

    .footer__top, .footer__bottom {
        margin: 0 2rem;
    }

    .footer_btn {
        margin-left: 2rem;
    }
}
*/


@media screen and (min-width: 1000px) and (max-width: 1599px) {
    .container {
        max-width: 1000px;
    }

    /*nav*/

    .nav {
        padding: 0.9rem 2rem;
    }

    .nav__menu {
        gap: 3.1rem;
    }

    /*hero*/

    .hero__container {
        padding-bottom:  .5rem;
    }

    .hero__text p {
        font-size: 5.325rem;
    }

    /*backstage*/

    .backstage__container {
        padding: 4rem 2rem;
        gap: 3%;
    }

    .backstage__bgimage {
        display: none;
    }

    .backstage__image {
        width: 100%;        
    }

    .backstage__text {
        width: 100%;       
    }

    .pets__container {
        grid-template-columns: repeat(4, 1fr);
        padding: 4.5rem 2rem;
    }

    /*pets*/
    
    .pets__container__bgimage1 .palm_foto1 {
        display: none;
    }

    .pets__container__bgimage1 .palm_foto2 {
        display: block;
    }

    .pets__container__bgimage1 {
        bottom: 0%;
        left: 0%;
    }

    .pets__container__bgimage1 img {
        width: 100%;
    }

    .pets__container__bgimage2 {
        bottom: 0%;
        left: 77%;
    }

    .pets__container__bgimage2 img {
        width: 100%;
    }

    .pets__row1 {
        grid-column: 1/5;
    }

    .pets__row2 {
        grid-column: 1/5;
        grid-row: 3/4;
    }

    .left {
        grid-column: 2/3;
        grid-row: 2/3;
        justify-self: center;
    }

    .right {
        grid-column: 3/4;
        grid-row: 2/3;
        justify-self: center;
    }

    .pets__row1 .gorillas {
        display: none;
    }

    .pets__row1 .tigers {
        display: block;
    }

    .pets__row2 .sloth {
        display: none;
    }
    .pets__row2 .gorillas {
        display: block;
    }

    .pets__row2 .tigers {
        display: none;
    }

    .pets__row2 .alligators {
        display: block;
    }

    .pets__btn {
        grid-row: 4/5;
    }

    .friends__container {
        margin: 1rem 2rem;
        padding: 2rem 1rem 0 3rem;             
    }

    .friends__container h4 {
        margin: 1rem 0;
    }

    .friends__container p {
        margin: 0 0 1rem;
    }

    .cards {
        margin: .2rem;
    }


    .friends__btn {
        margin:  5rem auto 3rem;
    }

   /*footer*/

   .footer__container {
    padding: 2rem;
   }

   
}