@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/**********
TYPOGRAPHY
**********/

body {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;    
    flex-direction: column; 
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;  
}

a {
    text-decoration: none;
    color: #FFF;
}

a:visited {
    color: #FFF;
}

h2 {
    font-weight: 400;
    font-size: 3rem;
    line-height: 120%;
    color: #333B41; 
    margin: 0;
}

h3 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120%;
    color: #333B41;     
}

p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 130%;
    color: #333B41; 
}

button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    border-radius: 25px;
    padding: 1rem 5.5rem;   
    font-weight: 500;
    font-size: 1rem;    
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;  
    cursor: pointer;  
}

button:hover {
    opacity: 0.8;    
    color: orangered;
    font-weight: 600;    
}

/********** 
HEADER
**********/

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;         
}

/* navigation */

nav {    
    display: flex;    
    flex-grow: 1;
    align-items: center;
    padding: 0.8rem 14rem;    
    gap: 1rem;
    background: black;   
    color: white;   
}

.nav__logo {
    display: flex;
    align-items: center;
    width: 5.125rem;
    height: 3.25rem;
    border: .5px solid #fff;    
    background: url(../../assets/images/bamboo.svg) no-repeat;    
    background-position: 17% 65%;    
}

.nav__logo h1 {
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav__menu {
    display: flex;       
    flex-wrap: wrap;
    flex-grow: 1;       
    margin-left: auto;
    gap: 3.7rem;
}

.nav__menu ul {
    align-items: center;
}

.nav__menu li {
    list-style: none;    
}

.nav__menu li a {
    text-decoration: none;
    color: white;
}

.nav__menu .credit {
    margin-left: auto;
}

.nav__menu .about a {
    color: orange;
}

nav a:hover {
    color: orange;
}

/* hero */

.hero {
    display: flex;    
    flex-direction: column;
    align-items: flex-end; 
    background: url("../../assets/images/giant_panda.jpg") no-repeat;
    background-size: cover;     
    background-position: 0% 60%;    
    padding-bottom: 4.2rem;
    margin: 0;
}

/*
.hero__text {
    width: 50%;
    background: url(../../assets/images/Ellipse\ 6.png);
    background-repeat: no-repeat;      
    background-position: 2% 11%;
}


.hero__text p {   
    font-weight: 700;
    font-size: 6.6rem;    
    line-height: 75%;   
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px grey;
    position: relative;
    top: -.2rem;
    left: -.7rem;   
}

.hero__text p span {
   color: #FFEE2E;
}

.hero__btn {
    position: relative;
    margin-right: 15rem;
    margin-top: -2.5rem;    
    margin-bottom: 1rem;    
    top: -1rem;
    left: -5rem;
}
*/

/*******
MAIN
*******/

main {
    display: flex;
    flex-direction: column;
}


/********** 
backstage 
**********/

.backstage {    
    display: flex;
    margin: 0 auto;
    padding: 9rem 14rem;
    background: url(../../assets/images/flower.png); 
    background-repeat: no-repeat;
    background-size: 18.5%;
    background-position-x: 107%;
    background-position-y: 1.1%;  
    gap: 8%;   
}

.backstage__image {    
    width: 52%;
}

.backstage__image img {
    max-width: 100%;
}

.backstage__text {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.backstage__text h3 {
    margin-top: 2.3rem;
}

/******
pets 
******/

.pets__container {
    
    display: grid;  
    align-items: center;
    grid-template-columns: .5fr 3fr .5fr;
    padding: 1rem 0em;
    gap: 1rem;
    
    background: url(../../assets/images/palm_foto.png), 
    url(../../assets/images/strelitzia\ 1\ \(1\).png); 
    background-repeat: no-repeat;
    background-size: 17.8%, 23%;
    background-position-x: -1%, right;
    background-position-y: 100.8%, 100.6%;   
}

.pets__row1 {
    display: flex;
    gap: 2rem;
    grid-column: 2/3;
    grid-row: 1/2;
}

.pets__row2 {
    display: flex;
    gap: 2rem;
    grid-column: 2/3;
    grid-row: 2/3;
}

 .left {
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
    justify-self: end;
}

.right {
    grid-column: 3/4;
    grid-row: 1/3;
    align-self: center;
}

.arrows img {
    background: orange;
    padding: 1.5em;
    border-radius: 50%;   
}

.arrows:hover {
    cursor: pointer;
    opacity: 0.9;
}

.pets__btn {
    grid-column: 1/4;
    grid-row: 3/4;    
    justify-self: center;
    padding: 4.9rem;
}

.pets__btn button {
    padding: 1rem 3rem;  
}


.pets {
    display: flex;     
    flex-wrap: wrap;
    justify-content: center;          
    gap: 2em;       
}


.pets__cards {
    border: 1px solid #FE9013;
    border-radius: 5px;
    margin: 0;    
    padding: 0;
}

.pets__image {   
    width: 22.875rem;
    height: 22.875rem;;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.pets__image img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.pets__image:hover img {
    transform: scale(1.1);
}

figcaption {
    margin-top: 0;
    padding: .5em 1em;
}

.pets__title, .pets__subtitle {
    margin: 0;
    padding: 0;
}

.pets__title {
    font-weight: 500;
    font-size: 16px;    
    text-transform: uppercase;
    color: #000000;
}

.pets__subtitle {
    font-weight: 300;
    font-size: 15px;    
    color: #000000;
}



/* SECTION THREE */

.three {    
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%,
                 #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), 
                 linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, 
                 rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), 
                 linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, 
                 rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding: 5em 14em;
    display: flex;    
    flex-direction: column;
    align-content: center;
}


.friend { 

    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    align-items: left;    
}

.friend h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
    margin: 0;   
    margin-bottom: 1em;
       
}

.friend h4 {    
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;    
    padding-left: 63px;
    margin: 0;
    margin-bottom: 1.5em;
}

.friend p {
    font-style: normal;    
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
    margin: 0;
    padding-left: 63px;
    margin-bottom: 1em;    
}

.friend p a {
    color: orange; 
}

.friend .p1 {
    font-weight: 500;   
}

.friend .p2 {
    font-weight: 400;   
    margin-right: 198px;
}

.friend h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    line-height: 130%;
    color: #333B41;
}

.cards {
    display: flex;
    justify-content: space-evenly;         
    padding: 0 10em;
    margin: 0;    
}

.card {
    margin: 0;
    padding: 0;
    width: 168px; 
    height: 244px;
}

.card__img {
    width: 168px; 
    height: 168px;
    background-color: white;
    border: 1px solid #F9804B;
    border-radius: 5px;       
    margin: 0 auto;     
    padding: 0 auto; 
    display: flex;  
    justify-content: center; 
    align-items: center;
}

.cards figcaption {
    margin: 1.8em 0;
    padding: 0;
}

.arrow {
    margin: auto;
    padding: 1em;
    position: relative;
    top: -42px;
}

.friends__btn {
    position: relative;      
    margin: 3em auto;
}

.friends__btn button {
    padding: 1rem 4rem;
}


/* SECTION FOUR */

/* testimonials */

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7em 14em 11em;
    margin: 0;
    background-color: peachpuff;
    background: url(../../assets/images/leav_foto.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-x: right;
    background-position-y: 130%; 
}

.testimonials h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #333B41;       
}

.testimonials__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2em;    
}


.module-border-wrap {
    padding: .2em;    
    margin: 0;
    background:  repeating-linear-gradient(
        rgba(254, 189, 171, 0.74),
        rgba(243, 169, 248, 0.66),
        rgba(224, 216, 240, 1),
        rgba(234, 247, 254, 1),
        rgba(234, 247, 254, 1)       
    ); 
    border-radius: 20px;     
}


.testimonials__h3 {
    margin-bottom: 1em;
}

.testimonials__card {       
    background: #F1F3F2;     
    border-radius: 20px;     
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 24rem;
}


.testimonials__card__title {
    display: flex;    
    flex-basis: 100%; 
    gap: .5rem;
    padding: .5rem
}

.testimonials__card__title p {
    font-size: .9rem;
}

.testimonials__card__title__text {
    display: flex;    
    flex-wrap: wrap;    
    flex-grow: 1;
}

.testimonials__card__text {
    padding: 0 .3rem;
}

.testimonials__card__text p {
    margin: 0;
}

.testimonials__card__title__text:last-child {
    margin-left: auto;
}

.testimonials__card__title__name {
    width: 100%;     
    font-size: larger;    
}

.testimonials__card__title__name h5 {
    margin: 0;
    padding: 0;
}

.testimonials__card__title__location p {
    margin: 0;
    padding: 0;
}

.testimonials__card__title__time {
    margin-left: .5rem;
}

.testimonials__card__title__time p{
    margin: 0;
    padding: 0;    
}

/*
.testimonials__slider {
    position: relative;    
    margin: 1.5em 0;    
    width: 50%;    
    background:  linear-gradient(to right,
        rgba(254, 189, 171, 0.74),
        rgba(243, 169, 248, 0.66),
        rgba(224, 216, 240, 1),
        rgba(234, 247, 254, 1),
        rgba(234, 247, 254, 1)       
    ); 
    border-radius: 20px;
}

.testimonials__slider input {
    width: 99.5%;
    background-color: white;
    border-radius: 20px;
    margin: 2px;
    color: orange; 
}
*/

.testimonials__slider {
    width: 50%;
    margin: 1.5em auto;
}

.testimonials__slider input {
    border: 1px solid orange;
}

.testimonials__slider input[type="range"] {   
    width: 100%; 
    outline: none;        
    cursor: pointer;   
}

.testimonials-btn {
    position: relative; 
    align-self: flex-start;;   
    border-radius: 0;
}

/*******
FOOTER 
********/


footer {
    display: flex;
    flex-direction: column;
    padding: 2em 14em 3em;
    background: black;
    gap: 3em;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__logo {
    color: white;
}

.form__h2 {
    color: #FFF;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;    
    margin: 0;
}

.footer__bottom {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
}

.footer__bottom > * {
    padding: 0;
    margin: 0;
}

.icons {
    color: #FFF;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: .7em;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.icons > a {
    display: flex;    
    gap: .5em;
}

.icons > a:hover {
    color: orange;
}

.nav__bottom {
    display: flex;
    justify-content: center;
}

.nav__menu__bottom {
    display: flex;
    justify-content: center;
    gap: 3em;
    margin: 0;
}

.nav__menu__bottom li {
    list-style: none;
}

.footer__credits {
    color: white;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
}

.footer__credits * {
    padding: 0;
    margin: 0;
}

.footer_btn button {
    border-radius: 5px;
    padding: 1rem 2.5rem;
}

.nav__logo h2 {
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #FFF;

}

form .email {
    padding: 1em 3em;
    background: #000000;
    color: white;
    border: 1px solid orange;
}

form .submit {
    padding: 1em 3em;
    border-radius: 5px;
    color: green;
    border: none;
}

form .submit:hover {
    cursor: pointer;
    opacity: .8;
}

/* media queries */ 

/*
@media (max-width: 320px) {
    .container {
        min-width: 320px;
    }
}

@media (max-width: 640px) {
    .container {
        min-width: 640px;
    }
}

@media (max-width: 1000px) {
    .container {min-width: 1000px};
}


@media (max-width: 1600px) {
    .container {max-width: 1600px;}
}
*/

@media only screen and (max-width: 1600px) and (min-width: 1000px) {
    .container {
        max-width: 1600px;
        margin: 0 auto;
    }

    nav {
        padding: .9rem 2rem;
    }

    .hero {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        align-items: flex-end; 
        
        background: url("../../assets/images/giant_panda.jpg") no-repeat;
        background-size: cover;     
        background-position: 0% 60%;    
        padding-top: 0;
        padding-bottom: 4.2rem;
        margin: 0;
    }
    
    .hero__text {
        display: flex;  
        flex-direction: column;       
        align-items: center;
        background: url(../../assets/images/ellipse.png);
        background-repeat: no-repeat;  
        background-size: 100%;                
        background-position: 0%;
        margin-top: 2rem;
        margin-right: 11rem;
        
    }
    
    .hero__text p {
        margin: 0;   
        font-weight: 700;
        font-size: 5rem;    
        line-height: 75%;         
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 1px 1px grey;
        position: relative;
        
       
       
    }
    
    .hero__text p span {
       color: #FFEE2E;
    }
    
    
    .hero__btn {
        display: flex;
       
    }
    
    
}

/*
@media screen and (min-width: 1001px) and (max-width: 1599px) {
    .container {
        max-width: 1500px;
        margin: 0 auto;
    }

    .backstage__image, .backstage__text {
        width: 100%;
    }
}
*/