@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    width: 1600px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;        
    display: flex;
    flex-direction: column; 
    font-family: 'Roboto', sans-serif;    
}


a {
    text-decoration: none;
    color: #FFF;
}

a:visited {
    color: #FFF;
}


button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    border-radius: 25px;
    padding: 1rem 3.5rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;  
    cursor: pointer;  
}

button:hover {
    opacity: 0.8;
}

/********** 
SECTION ONE 
**********/

header {
    display: flex;
    flex-direction: column;   
    padding-bottom: 5em;
    background: url("../../assets/images/giant_panda.jpg") no-repeat;
    background-size: cover;    
    
}

header > * {
    margin: 0;
    padding: 0;
}

/* navigation */

nav {    
    display: flex;    
    justify-content: space-around;
    align-items: center;
    background: black;   
    color: white;
}

nav ul {
    display: flex;
    gap: 58px;
}

nav ul li {
    list-style: none;    
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.about_link {
    color: orange;
}

nav a:hover {
    color: orange;
}

.nav__logo {
    margin-left: 0;
}

.nav__menu {
    margin-left: 0;
}

.nav__credits {
    margin-left: 0;
}

/* header */

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__text {
    width: 50%;
    background: url(../../assets/images/Ellipse\ 6.png) no-repeat center;       
    background-position: 25%;
}

.header__text p {   
    font-weight: 700;
    font-size: 106.496px;    
    line-height: 75%;   
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;    
    margin: 1em;
    text-shadow: 1px 1px #000000;
}

.header__text p span {
   color: #FFEE2E;
}

.header__btn {
    position: relative;
    margin-right: 15em;
}

/********** 
SECTION TWO 
**********/

.two {
    display: block;
}

.backstage {    
    display: flex;
    margin: 0 auto;
    padding: 10em 10em 0;
    gap: 5em;
}

.backstage__image, .backstage__text {
    width: 100%;
}

.backstage__image img {
    max-width: 100%;
}

.backstage__text h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
    margin: 0;
    padding: 0;
}

.backstage__text h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.backstage__text p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

/* pets */

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pets {
    display: flex;
    flex-wrap: wrap;   
    justify-content: center; 
    padding: 10em 10em 0;
    margin: 0 auto;    
    gap: 5em;
}

.pets__cards {
    border: 1px solid #FE9013;
    border-radius: 5px;
    margin: 0;    
    padding: 0;
}

.pets__image {
    width: 366px;
    height: 366px;
    margin: 0;
    padding: 0;
}

.pets__image img {
    width: 100%;
}

figcaption {
    margin-top: 0;
    padding: .5em 1em;
}

.pets__title, .pets__subtitle {
    margin: 0;
    padding: 0;
}

.pets__title {
    font-weight: 500;
    font-size: 16px;    
    text-transform: uppercase;
    color: #000000;
}

.pets__subtitle {
    font-weight: 300;
    font-size: 15px;    
    color: #000000;
}

.two__button {
    margin: 5em;
}


/* SECTION THREE */

.three {    
    background: peachpuff;
    padding: 5em 10em 7em;
    display: flex;    
    flex-direction: column;
    align-content: center;
}


.friend {    
    margin: 0 auto;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: left;    
}

.friend h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
    margin: 0;   
    margin-bottom: 1em;     
}

.friend h4 {    
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;    
    padding-left: 99px;
    margin: 0;
    margin-bottom: 1.5em;
}

.friend p {
    font-style: normal;    
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
    margin: 0;
    padding-left: 99px;
    margin-bottom: 1em;    
}

.friend .p1 {
    font-weight: 500;   
}

.friend .p2 {
    font-weight: 400;   
    margin-right: 198px;
}

.friend h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    line-height: 130%;
    color: #333B41;
}

.cards {
    display: flex;
    justify-content: space-evenly;         
    padding: 0 10em;
    margin: 0;    
}

.card {
    margin: 0;
    padding: 0;
    width: 168px; 
    height: 244px;
}

.card__img {
    width: 168px; 
    height: 168px;
    background-color: white;
    border: 1px solid #F9804B;
    border-radius: 5px;       
    margin: 0 auto;     
    padding: 0 auto; 
    display: flex;  
    justify-content: center; 
    align-items: center;
}

.cards figcaption {
    margin: 1.5em 0;
    padding: 0;
}

.arrow {
    margin: auto;
    padding: 1em;
    position: relative;
    top: -20px;
}

.three__button {
    position: relative;      
    margin: 3em auto;
}


/* SECTION FOUR */

.four {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10em;
    margin: 0;
}

.four h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #333B41;   
    margin-top: 3em;  
}

.testimonials {
    margin: 0;    
    padding: 0;
    display: flex;      
}

.testimonials__content {
    display: flex;
    gap: 2em;    
}

.module-border-wrap {
    min-width: 272px;    
    margin: 0;
    background:  repeating-linear-gradient(
        rgba(254, 189, 171, 0.74),
        rgba(243, 169, 248, 0.66),
        rgba(224, 216, 240, 1),
        rgba(234, 247, 254, 1),
        rgba(234, 247, 254, 1)       
    ); 
    border-radius: 20px;     
}

.testimonials__card {
    margin: 3px;
    padding: 1em;
    background: #F1F3F2;     
    border-radius: 20px;     
}

.testimonials__card * {    
    margin: 0;
    padding: 0;    
}

.testimonials__title {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.photo {
    grid-row: 1/3;
    grid-column: 1/3;
}

.name {
    grid-row: 1/2;
    grid-column: 2/7;    
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;        
}

.location {
    grid-row: 2/3;
    grid-column: 2/4;    
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}

.time {
    grid-row: 2/3;
    grid-column: 4/7;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}

.testimonials__text {
    margin-top: 1em;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%; 
    color: #767474;
}

.testimonials-btn {
    border-radius: 0%;
    margin-bottom: 10em;
    margin-top: 2em;
    margin-left: 4em;
    position: relative;
    align-self: flex-start;  
}

.testimonials__slider {
    position: relative;    
    margin-top: 3em;
    width: 50%;    
    background:  linear-gradient(to right,
        rgba(254, 189, 171, 0.74),
        rgba(243, 169, 248, 0.66),
        rgba(224, 216, 240, 1),
        rgba(234, 247, 254, 1),
        rgba(234, 247, 254, 1)       
    ); 
    border-radius: 20px;
}

.bg {
    width: 99.5%;
    background-color: white;
    border-radius: 20px;
    margin: 2px;
}

.slider {
    width: 20%;
    height: 5px;
    background-color: orange;
    border-radius: 20px;
}




footer {
    display: flex;
    flex-direction: column;
    padding: 2em 10em;
    background: black;
    gap: 3em;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__logo {
    color: white;
}

.form__h2 {
    color: #FFF;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__bottom > * {
    padding: 0;
    margin: 0;
}

.icons {
    color: #FFF;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: .2em;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.icons > a {
    display: flex;    
    gap: .5em;
}

.nav__bottom * {
    padding: 0;
    margin: 0;
}

.menu__bottom *{
    padding: 0;
    margin: 0;
}

.footer__credits {
    color: white;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
}

.footer__credits * {
    padding: 0;
    margin: 0;
}

.footer__btn {
    border-radius: 5px;
}